<nav class="navbar">
    <ul class="list">
        <li class="justTalk">Just talk!</li>
        <li class="signNav"><a href="/signup">Sign in</a></li>
        <li class="logNav"><a href="/login">Log in</a></li>
    </ul>
</nav>
<div class="mainLanding">
    <p class="justTalkTitle">Welcome to<br>Just Talk!</p>
    <p class="justTalkInfo">Our goal is to help connect people that share the interest in learning new languages with people who speak it natively.
        Here you will connect with people to learn and help other learn new languages.</p>
</div>
<div class="signLog">
    <p class="signP">Don't have an account? <a href="/signup"> <br> Sign in!</a></p>
    <p class="logInP">Already a user?<a href="/login"> <br> Log in</a></p>
</div>

