<nav class="navbar">
    <ul class="list">
        <li class="justTalk">Just talk!</li>
        
        <li class="logNav"><a href="/login">Logout</a></li>
    </ul>
</nav>
<div class="mainLanding">
    <p class="justTalkTitle">Welcome Luis</p>

    <p class="justTalkInfo">Hey! You got a new match:<br><br> Victor seems to have your same interests!
    </p>
    <button class="confirm-button">Confirm</button>
</div>
<div class="signLog">
    <p class="signP">Logout</p>
</div>